  <div class="footer">
    <div class="foot-container">
      <div class="services">
          <h5>Services</h5>
          <a href="">India Update</a>
          <a href="">World Update</a>
          <a href="">Vaccination</a>
          <a href="">Hospitals & Beds</a>
      </div>
      <div class="about">
          <h5>About</h5>
          <a href="">Company</a>
          <a href="">Team</a>
      </div>
    </div>
      <div class="company">
        <h4>ANIMESH</h4>
        <p>Find me here.</p>
      </div>
      <div class="links">
          <a href="https://www.facebook.com/animesh.maru/"><i class="fab fa-facebook"></i></a>
          <a href="https://www.instagram.com/aniimesh1/"><i class="fab fa-instagram"></i></a>
          <a href="https://www.linkedin.com/in/animesh-maru"><i class="fab fa-linkedin"></i></a>
          <a href="https://twitter.com/AnimeshMaru"><i class="fab fa-twitter"></i></a>
          <a href="https://github.com/Animeshmaru/"><i class="fab fa-github"></i></a>
      </div>
  </div>